target/
!target/.gitkeep

application-local.yml
application-dev.yml

/logs/auth-service.log
logs/
!logs/.gitkeep
/tmp/

Dockerfile.local
.dockerignore

*.db
*.trace.db

resources/application.yml
src/**/resources/application.yml
auth-service.iml
metal-store-auth-service.iml
